In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
logit=LogisticRegression()
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
from sklearn.metrics import r2_score

In [2]:
df=pd.read_csv("Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
df['Gender'].replace(to_replace=['Male','Female'],value=[0,1],inplace=True)

In [5]:
f1_score(df['Gender'],df['Purchased'])

0.4438040345821325

In [8]:
df['EstimatedSalary']=df['EstimatedSalary']/df['EstimatedSalary'].mean()

In [22]:
x=df[['Age','Gender']]

In [23]:
y=df['Purchased']

In [40]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [41]:
logit.fit(xtrain,ytrain)

LogisticRegression()

In [42]:
pred=logit.predict(xtest)

In [43]:
f1_score(ytest,pred)

0.7605633802816902