In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [39]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
y=train['SalePrice']

In [89]:
testx=test[['OverallQual','GarageCars','YearBuilt']]

In [57]:
testbath=test['FullBath']+(0.5*test['HalfBath'])+test['BsmtFullBath']+(0.5*test['BsmtHalfBath'])

In [72]:
Area=test['TotalBsmtSF']+test['1stFlrSF']+test['2ndFlrSF']
Area.isna().sum()

0

In [93]:
testx.insert(2,"Area",Area)

In [64]:
testx.isnull().sum()

Bath           0
OverallQual    0
Area           2
GarageCars     0
YearBuilt      0
dtype: int64

In [94]:
testx

      Bath  OverallQual    Area  GarageCars  YearBuilt
0      3.5            5  1778.0         1.0       1961
1      2.5            6  2658.0         1.0       1958
2      3.5            5  2557.0         2.0       1997
3      2.0            6  2530.0         2.0       1998
4      3.5            8  2560.0         2.0       1992
...    ...          ...     ...         ...        ...
1454   3.0            4  1638.0         0.0       1970
1455   2.5            4  1638.0         1.0       1970
1456   3.0            5  2448.0         2.0       1960
1457   2.0            5  1882.0         0.0       1992
1458   2.0            7  2996.0         3.0       1993

[1459 rows x 5 columns]

In [73]:
testx['Area']=Area

<ipython-input-73-f964be79905e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testx['Area']=Area

In [67]:
test['12tFlrSF'].isnull().sum()#e=True)

0

In [68]:
test['2ndFlrSF'].isnull().sum()#e=True)

0

In [3]:
train['MasVnrArea'].fillna(0,inplace=True)

In [18]:
#Area=train['MasVnrArea']+train['1stFlrSF']+train['2ndFlrSF']+train['TotalBsmtSF']

In [19]:
Area=train['1stFlrSF']+train['2ndFlrSF']+train['TotalBsmtSF']

In [5]:
x=train[['OverallQual','GarageCars','YearBuilt']]

In [21]:
#x.insert(1,"Area",Area)

In [53]:
#x['Area']=Area

In [31]:
bath=train['FullBath']+(0.5*train['HalfBath'])+train['BsmtFullBath']+(0.5*train['BsmtHalfBath'])

In [32]:
x.insert(0,'Bath',bath)

In [34]:
y.corr(x['Bath'])

0.6317310679319873

In [35]:
trax,tesx,tray,tesy=train_test_split(x,y)

In [36]:
le.fit(trax,tray)

LinearRegression()

In [37]:
r2_score(tesy,le.predict(tesx))

0.7810977457003743

In [38]:
le.fit(x,y)

LinearRegression()

In [88]:
testx

      Bath  OverallQual    Area  GarageCars  YearBuilt
0      3.5            7  1778.0           2       2003
1      2.5            6  2658.0           2       1976
2      3.5            7  2557.0           2       2001
3      2.0            7  2530.0           3       1915
4      3.5            8  2560.0           3       2000
...    ...          ...     ...         ...        ...
1455   2.5            6  1638.0           2       1999
1456   3.0            6  2448.0           2       1978
1457   2.0            7  1882.0           1       1941
1458   2.0            5  2996.0           1       1950
1459   2.5            5  2000.0           1       1965

[1460 rows x 5 columns]

In [95]:
le.predict(testx)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [26]:
r2_score(le.predict(tesx),tesy)

0.7270228719166556

In [79]:
le.fit(x,y)

LinearRegression()

In [80]:
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [85]:
len(le.predict(testx))

1460

In [76]:
testx.fillna(2000,inplace=True)

c:\python\lib\site-packages\pandas\core\frame.py:4459: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [77]:
testx

      Bath  OverallQual    Area  GarageCars  YearBuilt
0      3.5            7  1778.0           2       2003
1      2.5            6  2658.0           2       1976
2      3.5            7  2557.0           2       2001
3      2.0            7  2530.0           3       1915
4      3.5            8  2560.0           3       2000
...    ...          ...     ...         ...        ...
1455   2.5            6  1638.0           2       1999
1456   3.0            6  2448.0           2       1978
1457   2.0            7  1882.0           1       1941
1458   2.0            5  2996.0           1       1950
1459   2.5            5  2000.0           1       1965

[1460 rows x 5 columns]

In [81]:
submit=pd.read_csv("sample_submission.csv")

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]

In [86]:
testx

      Bath  OverallQual    Area  GarageCars  YearBuilt
0      3.5            7  1778.0           2       2003
1      2.5            6  2658.0           2       1976
2      3.5            7  2557.0           2       2001
3      2.0            7  2530.0           3       1915
4      3.5            8  2560.0           3       2000
...    ...          ...     ...         ...        ...
1455   2.5            6  1638.0           2       1999
1456   3.0            6  2448.0           2       1978
1457   2.0            7  1882.0           1       1941
1458   2.0            5  2996.0           1       1950
1459   2.5            5  2000.0           1       1965

[1460 rows x 5 columns]

In [98]:
testx.fillna(0,inplace=True)

c:\python\lib\site-packages\pandas\core\frame.py:4459: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [101]:
testx.isna().sum()

Bath           0
OverallQual    0
Area           0
GarageCars     0
YearBuilt      0
dtype: int64

In [104]:
submit['SalePrice']=le.predict(testx)

In [105]:
submit.to_csv("FinalSubmit.csv")