In [23]:
import pandas as pd
import numpy as np

In [101]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [4]:
train=pd.read_csv("train.csv")

In [5]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [75]:
sr=train.isnull().sum()
sr[sr>0]

Series([], dtype: int64)

In [21]:
train['PoolQC'].unique()

array([0, 4, 1, 3], dtype=int64)

In [18]:
train['PoolQC']=train['PoolQC'].replace(np.nan,0)

In [20]:
train=train.replace({'PoolQC':{'Ex':4,'Gd':3,'TA':2,'Fa':1}})

In [26]:
le=LabelEncoder()

In [37]:
le.fit(train['MiscFeature'])

LabelEncoder()

In [39]:
train['MiscFeature']=le.transform(train['MiscFeature'])

In [30]:
le.fit(train['Alley'])

LabelEncoder()

In [33]:
train['Alley']=le.transform(train['Alley'])

In [43]:
le.fit(train['FireplaceQu'])

LabelEncoder()

In [44]:
train['FireplaceQu']=le.transform(train['FireplaceQu'])

In [46]:
le.fit(train['Fence'])

LabelEncoder()

In [47]:
train['Fence']=le.transform(train['Fence'])

In [53]:
train[['GarageType','GarageCond','GarageFinish','GarageYrBlt','GarageQual']]=train[['GarageType','GarageCond','GarageFinish','GarageYrBlt','GarageQual']].apply(le.fit_transform)

      GarageType  GarageCond  GarageFinish  GarageYrBlt  GarageQual
0              1           4             1           89           4
1              1           4             1           62           4
2              1           4             1           87           4
3              5           4             2           84           4
4              1           4             1           86           4
...          ...         ...           ...          ...         ...
1455           1           4             1           85           4
1456           1           4             2           64           4
1457           1           4             1           29           4
1458           1           4             2           36           4
1459           1           4             0           51           4

[1460 rows x 5 columns]

In [58]:
train['LotFrontage']=train['LotFrontage'].replace(np.nan,0.0)

In [66]:
train['Electrical']=train['Electrical'].replace(np.nan,"SBrkr")

In [71]:
train['MasVnrType']=train['MasVnrType'].replace(np.nan,"None")

In [74]:
train['MasVnrArea']=train['MasVnrArea'].replace(np.nan,0.0)

In [76]:
train.to_csv('train_processed.csv')

In [80]:
pro=pd.read_csv('train_processed.csv')

In [97]:
train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,2,Reg,Lvl,AllPub,...,0,0,4,4,0,2,2008,WD,Normal,208500
1,2,20,3,80.0,9600,1,2,Reg,Lvl,AllPub,...,0,0,4,4,0,5,2007,WD,Normal,181500
2,3,60,3,68.0,11250,1,2,IR1,Lvl,AllPub,...,0,0,4,4,0,9,2008,WD,Normal,223500
3,4,70,3,60.0,9550,1,2,IR1,Lvl,AllPub,...,0,0,4,4,0,2,2006,WD,Abnorml,140000
4,5,60,3,84.0,14260,1,2,IR1,Lvl,AllPub,...,0,0,4,4,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,3,62.0,7917,1,2,Reg,Lvl,AllPub,...,0,0,4,4,0,8,2007,WD,Normal,175000
1456,1457,20,3,85.0,13175,1,2,Reg,Lvl,AllPub,...,0,0,2,4,0,2,2010,WD,Normal,210000
1457,1458,70,3,66.0,9042,1,2,Reg,Lvl,AllPub,...,0,0,0,2,2500,5,2010,WD,Normal,266500
1458,1459,20,3,68.0,9717,1,2,Reg,Lvl,AllPub,...,0,0,4,4,0,4,2010,WD,Normal,142125
1459,1460,20,3,75.0,9937,1,2,Reg,Lvl,AllPub,...,0,0,4,4,0,6,2008,WD,Normal,147500

In [99]:
train=train.apply(le.fit_transform)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,5,3,37,327,1,2,3,3,0,...,0,0,4,4,0,1,2,8,4,412
1,1,0,3,52,498,1,2,3,3,0,...,0,0,4,4,0,4,1,8,4,339
2,2,5,3,40,702,1,2,0,3,0,...,0,0,4,4,0,8,2,8,4,442
3,3,6,3,32,489,1,2,0,3,0,...,0,0,4,4,0,1,0,8,0,194
4,4,5,3,56,925,1,2,0,3,0,...,0,0,4,4,0,11,2,8,4,494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,5,3,34,267,1,2,3,3,0,...,0,0,4,4,0,7,1,8,4,314
1456,1456,0,3,57,866,1,2,3,3,0,...,0,0,2,4,0,1,4,8,4,415
1457,1457,6,3,38,415,1,2,3,3,0,...,0,0,0,2,17,4,4,8,4,527
1458,1458,0,3,40,505,1,2,3,3,0,...,0,0,4,4,0,3,4,8,4,199
1459,1459,0,3,47,532,1,2,3,3,0,...,0,0,4,4,0,5,2,8,4,221

In [103]:
reg=LinearRegression()

In [104]:
test=pd.read_csv("test.csv")

In [105]:
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [117]:
for col in test.columns:
    print(col)

Id
MSSubClass
MSZoning
LotFrontage
LotArea
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
OverallQual
OverallCond
YearBuilt
YearRemodAdd
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
MasVnrArea
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinSF1
BsmtFinType2
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
Heating
HeatingQC
CentralAir
Electrical
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
KitchenQual
TotRmsAbvGrd
Functional
Fireplaces
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageCars
GarageArea
GarageQual
GarageCond
PavedDrive
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
PoolQC
Fence
MiscFeature
MiscVal
MoSold
YrSold
SaleType
SaleCondition

In [115]:
train=train.drop(['SalePrice'],axis=1)

In [120]:
Y=pro['SalePrice']

In [121]:
reg.fit(train,Y)

LinearRegression()

In [123]:
t=test.isnull().sum()
t[t>0]

MSZoning           4
LotFrontage      227
Alley           1352
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
BsmtQual          44
BsmtCond          45
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
FireplaceQu      730
GarageType        76
GarageYrBlt       78
GarageFinish      78
GarageCars         1
GarageArea         1
GarageQual        78
GarageCond        78
PoolQC          1456
Fence           1169
MiscFeature     1408
SaleType           1
dtype: int64

In [127]:
test['Fence']=le.fit_transform(test['Fence'])
test['Fence'].value_counts()

4    1169
2     172
0      59
1      58
3       1
Name: Fence, dtype: int64

In [131]:
test=test.apply(le.fit_transform)

In [137]:
sale=reg.predict(test)

In [133]:
sample=pd.read_csv("sample_submission.csv")

In [134]:
sample

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]

In [136]:
idi=np.arange(1461,2920)

In [138]:
sub={"ID":idi,"SalePrice":sale}

In [139]:
submit=pd.DataFrame(sub)

In [145]:
submit=submit.set_index('ID')

In [148]:
submit.to_csv("Submission.csv")

In [1]:
submit

NameError: name 'submit' is not defined